<!--~
  ~ JBoss, Home of Professional Open Source
  ~ Copyright Red Hat, Inc., and individual contributors
  ~ by the @authors tag. See the copyright.txt in the distribution for a
  ~ full listing of individual contributors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- HttpOnly flag is an additional flag that is used to prevent an XSS -->
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <!-- Cookie should only be sent using a secure protocol, such as SSL
    <session-config>
        <cookie-config>
            <secure>true</secure>
        </cookie-config>
    </session-config>
    -->
    <!-- Basic authentication filter
    <filter>
        <filter-name>BasicAuthenticationFilter</filter-name>
        <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>authType</param-name>
            <param-value>BASIC</param-value>
        </init-param>
    </filter>  -->
    <!-- Digest authentication filter -->
    <filter>
        <filter-name>DigestAuthenticationFilter</filter-name>
        <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>authType</param-name>
            <param-value>DIGEST</param-value>
        </init-param>
        <init-param>
            <param-name>realm</param-name>
            <param-value>default</param-value>
        </init-param>
    </filter>

    <!-- HSTS filter -->
    <filter>
        <filter-name>SecureHeadersFilter</filter-name>
        <filter-class>org.jboss.aerogear.security.filter.SecureHeadersFilter</filter-class>
        <init-param>
            <param-name>max-age</param-name>
            <param-value>2592000</param-value>
        </init-param>
        <init-param>
            <param-name>include-subdomains</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>Location</param-name>
            <param-value>https://localhost:8443/aerogear-controller-demo/mycars</param-value>
        </init-param>
        <init-param>
            <param-name>x-frame-options</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>

    <!-- Basic authentication filter mapping
    <filter-mapping>
        <filter-name>BasicAuthenticationFilter</filter-name>
        <url-pattern>/autobots/*</url-pattern>
    </filter-mapping> -->

    <!-- Digest authentication filter mapping -->
    <filter-mapping>
        <filter-name>DigestAuthenticationFilter</filter-name>
        <url-pattern>/autobots/*</url-pattern>
    </filter-mapping>

    <!-- HSTS filter mapping -->
    <filter-mapping>
        <filter-name>SecureHeadersFilter</filter-name>
        <url-pattern>/mycars/*</url-pattern>
    </filter-mapping>

</web-app>
